  <h1>Llistat hipoteques</h1>
      Filtre: <input type="text" ng-model="filtro" ><hr>
    <table class="table" style='border: 2px'>
    <thead>
      <tr>
        <th>IdHipoteca</th>
        <th>DNI</th>
        <th>Nom i cognoms</th>
        <th>Capital</th>
        <th>Tipus d'interès</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hipo in hipotecas | filter:filtro" style="background-color: {{$even?'white':'silver'}}">
        <td><a href="#/hipoteca/edit/{{hipo.idHipoteca}}">{{$index+1}}</a></td>
        <td>{{hipo.nif}}</td>
        <td>{{hipo.nombre}} {{hipo.ape1}} {{hipo.ape2}}</td>
        <td>{{hipo.dadesEconomiques.capital|currency:'€'}}</td>
        <td ng-switch on="hipo.datosFinancieros.tipoInteres">
          <span ng-switch-when="F">FIXE</span>
          <span ng-switch-when="V">VARIABLE</span>
          <span ng-switch-when=""></span>
          <span ng-switch-default>Desconegut</span>
        </td>
        <td>
          <button class="btn btn-danger" ng-click="borrar(hipo.idHipoteca)" aria-label="Remove">X</button>
        </td>
      </tr>
    </tbody>
  </table>
